<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello world</title>
</head>
<body>
    <h1> Hello world </h1>
    <p> {{ ansible_hostname }}</p>
    <p> {{ ansible_os_family }}</p>
    <p> {{ ansible_distribution }}</p>
    <p> {{ ansible_distribution_release }}</p>
    <p> {{ ansible_distribution_version }}</p>
</body>
</html>